
@import "tailwindcss";

@theme {
    --font-sans: "NT Somic", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
    font-family: 'NT Somic';
    src: url('/fonts/ntsomic-regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'NT Somic';
    src: url('/fonts/ntsomic-bold.woff2') format('woff2');
    font-weight: 700;
}